<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>sex</key>
		<string>男</string>
		<key>age</key>
		<string>28</string>
		<key>subject</key>
		<dict>
			<key>name</key>
			<string>英语</string>
			<key>hour</key>
			<string>20</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>赵二</string>
		<key>sex</key>
		<string>男</string>
		<key>age</key>
		<string>30</string>
		<key>subject</key>
		<dict>
			<key>name</key>
			<string>美术</string>
			<key>hour</key>
			<string>20</string>
		</dict>
	</dict>
</array>
</plist>
