<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://pl-ali.youku.com/playlist/m3u8?vid=XMTczODAwMzUyOA%3D%3D&amp;type=hd2&amp;ups_client_netip=76be92aa&amp;ups_ts=1517561916&amp;utid=PBb7EmWoTgACAXa%2Bkqoryh6j&amp;ccode=0502&amp;psid=6f72cdcd96ad193748044922d23a711c&amp;duration=2474&amp;expire=18000&amp;ups_key=e6c8322063928bc1113f857d91add7be</string>
		<key>name</key>
		<string>video23</string>
	</dict>
</array>
</plist>
